@using System.Web.Mvc.Html
@model Fhc.ViewModels.NewItAccessViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New It Access Form</h2>


@using (Html.BeginForm("Save","Employees")) 
{
    
    
    
        @Html.ValidationSummary(true, "Please fix the following errors.", new { @class = "text-danger" })
        

       

        <div class="form-group">
            @Html.LabelFor(m => m.Employee.FirstName)
           
                @Html.TextBoxFor(m => m.Employee.FirstName, new  { @class = "form-control"  })
                @Html.ValidationMessageFor(m => m.Employee.FirstName)
            </div>
       

        <div class="form-group">
            @Html.LabelFor(m => m.Employee.LastName)
           
                @Html.TextBoxFor(m => m.Employee.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.LastName)
            </div>
      

        
        
        <div class="form-group">
            @Html.LabelFor(m => m.Employee.DepartmentId)
                @Html.DropDownListFor(m => m.Employee.DepartmentId, new SelectList(Model.Departments, "Id", "DepartmentName"), "Select Department", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.DepartmentId)
            </div>
        
       

        <div class="form-group">
            @Html.LabelFor(m => m.Employee.Title)
            
                @Html.TextBoxFor(m => m.Employee.Title,new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.Title)
            </div>
        
        
        <div class="form-group">
            @Html.LabelFor(m => m.Employee.BuildingId)
            
                @Html.DropDownListFor(m => m.Employee.BuildingId, new SelectList(Model.Building, "Id", "BuildingName"), "Select Building", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.BuildingId)
            </div>
      

        

        <div class="form-group">
            @Html.LabelFor(m => m.Employee.StartDate)
           
                @Html.TextBoxFor(m => m.Employee.StartDate, "{0:d MMM yyyy}", new  { @class = "form-control"  })
                @Html.ValidationMessageFor(m => m.Employee.StartDate)
            </div>
       

        <div class="form-group">
            @Html.LabelFor(m => m.Employee.Supervisor)
        
                @Html.TextBoxFor(m => m.Employee.Supervisor,new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.Supervisor)
            </div>
        

    
       
        <div class="checkbox">
            <label> @Html.CheckBoxFor(m => m.Employee.Domain) Domain</label>
            
        </div>
        
       
    
        
        <div class="checkbox">
            <label>  @Html.CheckBoxFor(m => m.Employee.Epic) Epic </label>
            

        </div>
    
    <div class="checkbox">
        <label> @Html.CheckBoxFor(m => m.Employee.Dentrix) Dentrix</label>

    </div>
   
        <div class="checkbox">
            <label>@Html.CheckBoxFor(m => m.Employee.PhoneExt) Phone Ext</label>
           

        </div>
  
        <div class="checkbox">
            <label>@Html.CheckBoxFor(m => m.Employee.Internet) Internet</label>
           

        </div>
   
    <div class="checkbox">
        <label>@Html.CheckBoxFor(m => m.Employee.Email) Email</label>
        

    </div>
  
    <div class="checkbox">
        <label>@Html.CheckBoxFor(m => m.Employee.Skype) Skype</label>
       

    </div>
    
    <div class="checkbox">
        <label>@Html.CheckBoxFor(m => m.Employee.Laptop) Laptop</label>
       

    </div>
   


        @Html.HiddenFor(m => m.Employee.Id)
        @*@Html.HiddenFor(m => m.Employee.FullTimeEmployeeId)*@
        @Html.HiddenFor(m => m.Employee.UserName)
        @Html.HiddenFor(m => m.Employee.Password)
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-primary">Save</button>


        }



        @section Scripts
    {
            @Scripts.Render("~/bundles/jqueryval");
        }
}